{% extends 'front/navbar.html' %}
{% block title %}Course detail{% endblock %}

{% block content %}
<head>
    <title>Course Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ course.title }}</h2>
                        <p class="card-text">Цена: ${{ course.price }}</p>
                        <p class="card-text">Описание: {{ course.description }}</p>
                        <p class="card-text">Количество студентов: {{ course.students_qty }}</p>
                        <p class="card-text">Дата обновления курса: {{ course.updated_at }}</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}